### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
# Pandas version
pd.__version__

'0.24.2'

In [101]:
total_players = pd.DataFrame ({
    "Total Players": [purchase_data["SN"].count()]
})

total_players

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
# This works ****
# pd.options.display.float_format = '${:,.2f}'.format  

# Calculate data required
purchase_analysis = pd.DataFrame ({
    "Number of Unique Items": [purchase_data["Item ID"].nunique()],
    "Average Price": [purchase_data["Price"].mean()],
    "Number of Purchases": [purchase_data["Purchase ID"].count()],
    "Total Revenue": [purchase_data["Price"].sum()]
})

# This DOES NOT work ****
# Provide formatting style for data *****
purchase_analysis.style.format("{:,.2%}")
#    "Number of Unique Items": "{:0,f}".format
#    "Average Price": "${:,.2f}".format,
#    "Number of Purchases": "{:0,d}".format,
#    "Total Revenue": "${:,.2f}".format
#})

# df.style.format({'B': "{:0<4.0f}", 'D': '{:+.2f}'})

purchase_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [16]:
# Reset 
# Calculate total number of players

tot_players = purchase_data["SN"].count()

males = purchase_data.loc[purchase_data["Gender"] == "Male", "Purchase ID" ].count()
females = purchase_data.loc[purchase_data["Gender"] == "Female", "Purchase ID" ].count()
other = tot_players - (males + females)

gender_demog = pd.DataFrame ({
    "Male Players": [males/tot_players],
    "Female Players": [females/tot_players],
    "Other / Non-Disclosed": [other/tot_players]
})

# Provide formatting style for data ******
gender_demog.style.format({
    "Male Players": '{:+0,.2f}%'.format,
    "Female Players": '{:0,.2f}%'.format,
    "Other / Non-Disclosed": '{:0,.2f}%'.format
})

gender_demog

   Male Players  Female Players  Other / Non-Disclosed
0      0.835897        0.144872               0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [47]:
# gender_analysis = purchase_data[["Price","Gender"]]

gender_analysis = purchase_data.groupby('Gender')\
   .agg({'Purchase ID':'count', 'Price': 'mean'})\
   .rename(columns={'Purchase ID':'Purchase Count', 'Price': 'Average Purchase Price'})
gender_analysis['Total Purchase Value'] = purchase_data[["Price","Gender"]].groupby('Gender').sum()['Price']

# grouper = purchase_data[["Price","Gender"]].groupby('Gender')

# gender_analysis = grouper.count()
# gender_analysis['Average Purchase Price'] = grouper.mean()['Price']
# gender_analysis['Total Purchase Value'] = grouper.sum()['Price']
# gender_analysis = temp.rename(columns={"Price": "Purchase Count"})

# What is "Avg Total Purchase per person". How is it calculated? ****

gender_analysis

# Format is missing ******

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [80]:
purchase_data['Purchase ID'].count()

780

In [81]:
# How is Total Count calculated ***********
# Define bins and labels for them 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
labels = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_bin = purchase_data
age_bin["Age Bin"] = pd.cut(purchase_data["Age"], bins=bins, labels=labels)

age_analysis = age_bin.groupby('Age Bin')\
   .agg({'Purchase ID':'count'})\
   .rename(columns={'Purchase ID':'Total Count'})

total_people = purchase_data['Purchase ID'].count()

age_analysis['Percentage of Players'] = (age_analysis[["Total Count"]]/total_people) * 100

age_analysis

# Format is missing ******

         Total Count  Percentage of Players
Age Bin
< 10              23               2.948718
10-14             28               3.589744
15-19            136              17.435897
20-24            365              46.794872
25-29            101              12.948718
30-34             73               9.358974
35-39             41               5.256410
40+               13               1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [86]:
# How is Total Purchase calculated
age_puchase = age_bin.groupby('Age Bin')\
   .agg({'Purchase ID':'count', 'Price': 'mean'})\
   .rename(columns={'Purchase ID':'Purchase Count', 'Price': 'Average Purchase Price'})
age_puchase['Total Purchase Value'] = age_bin[["Price","Age Bin"]].groupby('Age Bin').sum()['Price']

age_puchase

# What is "Avg Total Purchase per person". How is it calculated? ****
# Format is missing ******

         Purchase Count  Average Purchase Price  Total Purchase Value
Age Bin
< 10                 23                3.353478                 77.13
10-14                28                2.956429                 82.78
15-19               136                3.035956                412.89
20-24               365                3.052219               1114.06
25-29               101                2.900990                293.00
30-34                73                2.931507                214.00
35-39                41                3.601707                147.67
40+                  13                2.941538                 38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [89]:
topspend_analysis = purchase_data.groupby('SN')\
   .agg({'Purchase ID':'count', 'Price': 'mean'})\
   .rename(columns={'Purchase ID':'Purchase Count', 'Price': 'Average Purchase Price'})
topspend_analysis['Total Purchase Value'] = purchase_data[["Price","SN"]].groupby('SN').sum()['Price']

topspend_analysis = topspend_analysis.sort_values(by=["Total Purchase Value"], ascending=False)

topspend_analysis.head()

# Format is missing ******

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [98]:
topitem_analysis = purchase_data.groupby(['Item ID', 'Item Name'])\
   .agg({'Purchase ID':'count', 'Price': 'mean'})\
   .rename(columns={'Purchase ID':'Purchase Count', 'Price': 'Item Price'})
topitem_analysis['Total Purchase Value'] = purchase_data[["Price","Item ID", "Item Name"]]\
    .groupby(["Item ID", "Item Name"]).sum()['Price']

topitem_analysis = topitem_analysis.sort_values(by=["Purchase Count"], ascending=False)

topitem_analysis.head()

# Format is missing ******

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [99]:
topprofit_analysis = topitem_analysis.sort_values(by=["Total Purchase Value"], ascending=False)

topprofit_analysis.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80